// disable scrolling
.remove-scrolling { 
    height: 100%; 
    overflow: hidden; 
}
// Header
.header {
    // Scrool Bar
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: var(--secondary-color);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #0183b3;
    }
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px 0px #0000001A;
    transition: all 0.3s ease;
    z-index: 1000;
    .container {
        .nav {
            .link {
                display: inline-block;
                font-size: 13px;
                padding: 20px 0;
                margin: 0 10px;
                font-weight: 400;
                line-height: 24.8px;
                text-align: left;
                position: relative;
                &.active {
                    font-weight: 500;
                }
                &.active {
                    color: #37B778;
                }
                &.active.hire {
                    color: var(--secondary-color);
                }
                &.active::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    width: 100%;
                    height: 6px;
                    border-radius: 10px 10px 0px 0px;
                }
                &.active::after {
                    background-color: #37B778;
                }
                &.active.hire::after {
                    background-color: var(--secondary-color);
                }
            }
            
        }
        a {
            font-size: 13px;
        }
    }
    .navbar {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 72px;
        ul {
            li {
                position: relative;
                &:hover {
                    background: linear-gradient(90deg, #37B778 0%, #00AEEF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, #37B778 0%, #00AEEF 100%);
                    transition: all 0.3s ease;
                    opacity: 0;
                }
                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}